# AWS Configuration
AWS_S3_BUCKET_NAME=seu-bucket-b3-data
AWS_REGION=us-east-1

# Opcional: Se você quiser usar credenciais específicas
# AWS_ACCESS_KEY_ID=sua_access_key
# AWS_SECRET_ACCESS_KEY=sua_secret_key
